:root{
    --primary-color:118, 90, 80;
    --secundary-color:32, 32, 32;
    --opacity-primary:0.5;
    --opacity-secundary:0.8;
}
* {
    margin: 0;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 18px;
}
h1,h2,h4,h5,h6{
    font-family: 'Merriweather', serif;
    color: rgba(var(--primary-color));
}
p {
    font-family: 'Lora', serif;
    color: rgb(var(--secundary-color), var(--opacity-secundary));
    line-height: 1.5;
    flex-wrap: wrap;
}
header {
    font-size: 1rem;
}
nav {
    display: flex;
}

.bar-header{
    background-color: rgb(var(--primary-color));
    width: 100%;
    height: 10px;
}
.header-menu{
    max-width: 1140px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu img{
    width: 100px;
    height: 100px;
}
.header-menu ul,a{
    font-family: 'Lora', serif;
    color: rgba(var(--secundary-color), var(--opacity-secundary));
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.header-menu a:hover{
    transform: scale(1.05);
}
.header-menu li{
    list-style: none;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.button-header {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 10px 20px;
    background-color: rgb(var(--primary-color));
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-header a {
    color: #FFFF;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    z-index: 1;
}
.button-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(var(--secundary-color),0.5);
    transition: left 0.2s linear;
    z-index: 0;
}
.button-header:hover::before {
    left: 0;
}
.button-header:hover {
    background-color: rgb(var(--primary-color));
}

.banner-hotel {
    position: relative;
    background-image: url(/assets/img/Imagem\ 1.jpg);
    background-position: bottom;
    background-size: cover;
    height: 40vh;   
}
.banner-hotel::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner-name {
    max-width: 1140px;
    margin:auto;
    position:relative;
    z-index: 1;
    flex-wrap: wrap;
}
.banner-name h1 {
    font-size: 1.8rem;
    color: #FFFF;
    font-weight: lighter;
    padding-top: 3rem;
}
.banner-name p {
    color: #FFF;
}

main{
    margin: 10px 50px;
}

.Title-booking h1{
    font-size: 2rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-box{
    display: flex;
    flex-direction: column;
    padding-top: 20px;  
}
.form-box h1{
    color: rgb(var(--secundary-color), var(--opacity-secundary));
    font-size: 2rem;
    height: 80px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.form-box #inputs{
    font-size: 1rem;
    width: 50vw;
    height: 50px;
    font-family: 'Merriweather', serif;
    border: 2px solid rgba(var(--secundary-color), var(--opacity-primary));
    border-radius :10px; 
    padding:0 1rem;
    color: rgba(var(--primary-color), var(--opacity-secundary));
    cursor: pointer;
}
.form-box #inputs:last-child{
    margin-left: 1rem;
}

.date-label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.accommodations{
    display: flex;
    align-items: center;
    justify-content: center;
}
.accommodations #accommodations-rooms{
    font-size: 1rem;
    margin-left: 1rem;
    width: 100%;
    height: 50px;
    font-family: 'Merriweather', serif;
    border: 2px solid rgba(var(--secundary-color), var(--opacity-primary));
    border-radius:10px; 
    padding-left: 1rem;
    color: rgba(var(--primary-color), var(--opacity-secundary));
    cursor: pointer;
}

.companions-label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.companions-label #companions-options{
    font-size: 1rem;
    margin-left: 1rem;
    width: 50vw;
    height: 50px;
    font-family: 'Merriweather', serif;
    border: 2px solid rgba(var(--secundary-color), var(--opacity-primary));
    border-radius:10px; 
    padding-left: 1rem;
    color: rgba(var(--primary-color), var(--opacity-secundary));
    cursor: pointer;
}

.booking-bar{
    width: 50%;
    height: 2px;
    background: linear-gradient(90deg, rgba(var(--primary-color), var(--opacity-secundary)), rgba(255, 255, 255, var(--opacity-primary)));
    display: flex;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color: rgb(var(--primary-color));
    margin-top: 1rem;
    margin: 1rem auto;
}

.names-label{
    display: flex;
    align-items: center;
    justify-content: center;
}   
#inputs-names{
    font-size: 1rem;
    width: 50vw;
    height: 50px;
    font-family: 'Merriweather', serif;
    border: 2px solid rgba(var(--secundary-color), var(--opacity-primary));
    border-radius:10px; 
    padding-left: 1rem;
    color: rgba(var(--primary-color), var(--opacity-secundary));
    cursor: pointer;
}   
#inputs-names:last-child{
    margin-left: 1rem;
}  

.e-mail-label,.phone-label{
    display: flex;
    align-items: center;
    justify-content: start;
}
#input-email, #input-phone{
    font-size: 1rem;
    margin-left: -1rem;
    width: 100%;
    height: 50px;
    font-family: 'Merriweather', serif;
    border: 2px solid rgba(var(--secundary-color), var(--opacity-primary));
    border-radius:10px; 
    padding-left: 1rem;
    color: rgba(var(--primary-color), var(--opacity-secundary));
    cursor: pointer;
}

.textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}
.textarea h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    color: rgba(var(--primary-color));
}
.textarea p {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    color: rgba(var(--secundary-color), var(--opacity-primary));
}
textarea {
    width: 100%;
    height: 25vh;
    padding: 10px;
    border: 2px solid rgba(var(--secundary-color), var(--opacity-primary));
    border-radius: 5px;
    resize: none; /* Não permite redimensionar a área.*/
}
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(var(--primary-color),var(--opacity-secundary));
}

footer{
    background-color: #202020;
    width: 100%;
    height: 20vh;
    display: flex;
}
.footer-info{
    display: flex;
    margin: 0 auto;
    justify-self: center;
    align-items: center;
}
.footer-info p{
    color: #FFFF;
    font-size: 1rem;
}
